@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  margin: 0 auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.mapboxgl-popup-content {
  border-radius: 1rem;
}

.mapboxgl-popup-close-button {
  display: none;
}
